/* ========================================
Listable
======================================== */
.listable {
    list-style: none;
    min-width: 100px;
    min-height: 20px;
}
/* ----------------------------------------
Placeholder
---------------------------------------- */
.place_holder {
    background: #666;
    width: 100%;
    height: 20px;
    webkit-border-radius: 3px;
    moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    opacity: 0.25;
    /*--line placeholder
    border: 1px solid #222;
    --*/
float: left;
}
.ui-sortable-helper {
    background: #fff;
    width: 100%;
    height: 100%;
    padding: 0 0 14px 5px;
    webkit-border-radius: 3px;
    moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    opacity: .75;
    webkit-box-shadow: 3px 3px 3px #8b8b8b;
    moz-box-shadow: 3px 3px 3px #8b8b8b;
    -o-box-shadow: 3px 3px 3px #8b8b8b;
    box-shadow: 3px 3px 3px #8b8b8b;
}

/* ----------------------------------------
List items
---------------------------------------- */
.field_divider {
    float: left;
    width: 100%;
    cursor: pointer;
}
.form_field {
    clear: both;
    cursor: move;
}
/* -- Buttons -- */
.listable li {
    list-style: none;
}
.listable-el-class {
    float: left;
}
.listable_item_buttons {
    display: inline;
}
.listable_item_buttons li {
    display: inline;
    margin: 0;
}


/* ----------------------------------------
Controls
---------------------------------------- */
.listable-controls {
    position: absolute;
    display: none;
    padding: 10px;
    background-color: #F0EAE1;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 2px #666666;
    box-shadow: 0 1px 2px #666;
    margin-left: -233px;
}

/* ----------------------------------------
Form Vault
---------------------------------------- */
.mask {
    display: none;
}
